.container {
   background: #ffffffcc;
   padding: 4.5em 3em 3em 3em;
   border-radius: 4px;
   cursor: default;
   max-width: 95vw;
   /* max-height: 80vh; */
   opacity: 1;
   position: relative;
   text-align: center;
   width: 95vw;
   /* height: 80vh; */
   list-style: none;
   text-decoration: none;
}

.content {
   /* background-image: url("../assets/images/alliance.png"); */
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 50vh;
}

span {
   text-decoration: dotted underline #838383cc;
}

.container a {
   font-weight: bold;
}

.progress {
   height: 2rem;
   font-size: 1rem;
   background-color: rgb(131, 131, 131);
}

.overlay {
   background-color: rgba(0, 0, 0, 0.616);
   border-radius: calc(0.25rem - 1px);
}

.overlay p {
   color: rgb(223, 223, 223);
}
