.main {
   -moz-transform-origin: 50% 50%;
   -webkit-transform-origin: 50% 50%;
   -ms-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   -moz-transform: rotateX(0deg);
   -webkit-transform: rotateX(0deg);
   -ms-transform: rotateX(0deg);
   transform: rotateX(0deg);
   -moz-transition: opacity 1s ease, -moz-transform 1s ease;
   -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
   -ms-transition: opacity 1s ease, -ms-transform 1s ease;
   transition: opacity 1s ease, transform 1s ease;
   padding: 4.5em 3em 3em 3em;
   background: #ffffffcc;
   border-radius: 4px;
   cursor: default;
   max-width: 100%;
   opacity: 0.95;
   position: relative;
   text-align: center;
   width: 27em;
}

.main .avatar {
   position: relative;
   display: block;
   margin-bottom: 1.5em;
}

.main .avatar img {
   display: block;
   margin: 0 auto;
   border-radius: 100%;
   /* box-shadow: 0 0 0 1.5em #ffffff; */
}

.main .avatar:before {
   content: "";
   display: block;
   position: absolute;
   top: 50%;
   left: -3em;
   width: calc(100% + 6em);
   height: 1px;
   z-index: -1;
   background: #c8cccf;
}

@media screen and (max-width: 480px) {
   .main {
      padding: 4em 2em 2.5em 2em;
      width: 100%;
   }

   .main .avatar:before {
      left: -2em;
      width: calc(100% + 4em);
   }
}

/* Icons */

ul.icons {
   cursor: default;
   list-style: none;
   padding-left: 0;
   margin-top: -0.675em;
}

ul.icons li {
   display: inline-block;
   padding: 0.675em 0.5em;
}

ul.icons li a {
   text-decoration: none;
   color: #21262a;
   position: relative;
   display: block;
   width: 3.75em;
   height: 3.75em;
   border-radius: 100%;
   border: solid 1px #c8cccf;
   line-height: 3.75em;
   overflow: hidden;
   text-align: center;
   text-indent: 3.75em;
   white-space: nowrap;
}

ul.icons li a:before {
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   text-transform: none !important;
}

ul.icons li a:before {
   color: #ffffff;
   text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf,
      0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;
}

ul.icons li a:hover:before {
   text-shadow: 1.25px 0px 0px #335a5a, -1.25px 0px 0px #335a5a,
      0px 1.25px 0px #335a5a, 0px -1.25px 0px #335a5a;
}

ul.icons li a:before {
   position: absolute;
   top: 0;
   left: 0;
   width: inherit;
   height: inherit;
   font-size: 1.85rem;
   line-height: inherit;
   text-align: center;
   text-indent: 0;
}

ul.icons li a:hover {
   border-color: #335a5a;
   color: #335a5a;
}

@media screen and (max-width: 480px) {
   ul.icons li a:before {
      font-size: 1.5rem;
   }
}
