@font-face {
   font-family: champagne;
   src: url("./assets/fonts/Champagne\ &\ Limousines.ttf");
}

html {
   height: 100vh;
}

body {
   background-image: linear-gradient(
         60deg,
         rgba(255, 166, 150, 0.308) 5%,
         rgba(0, 229, 255, 0.205)
      ),
      url("./assets/images/bg.jpg");
   height: 100%;
   background-size: cover;
   text-transform: uppercase;
   font-family: champagne;
}

.App {
   text-align: center;
   min-height: 100vh;
}

.App-logo {
   animation: App-logo-spin infinite 20s linear;
   height: 40vmin;
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.App {
   display: -moz-flex;
   display: -webkit-flex;
   display: -ms-flex;
   display: flex;
   -moz-align-items: center;
   -webkit-align-items: center;
   -ms-align-items: center;
   align-items: center;
   -moz-justify-content: space-between;
   -webkit-justify-content: space-between;
   -ms-justify-content: space-between;
   justify-content: space-between;
   -moz-flex-direction: column;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -moz-perspective: 1000px;
   -webkit-perspective: 1000px;
   -ms-perspective: 1000px;
   perspective: 1000px;
   position: relative;
   /* min-height: 100%; */
   padding: 1.5em;
   z-index: 2;
}

.App > * {
   z-index: 1;
}

.App:before {
   content: "";
   display: block;
}

@media screen and (max-width: 360px) {
   .App {
      padding: 0.75em;
   }
}

body.is-ie .App {
   height: 100%;
}
